; Font Awesome Pro / Kit packages
; Token is provided via env var to avoid committing secrets.
; Docs: https://docs.fontawesome.com/web/setup/packages/

@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}
